body
	background #4C565E

nav ul li a
	float none

article
	background #71A474

.cuerpo-pagina
	background black
	margin-left 10%
	margin-right 10%

.encabezado
	background white

.navegacion
	background #F1EEDA

.contenidos
	background yellow
	
	.destacados
		background gray

.pie-pagina
	background #140B57
	color white